@import '../../assets/styles/variables';

.slot-machine {
  position: relative;
  padding: 10px;
  border-radius: 10px;
  border: 5px solid $slot-machine-bg-lighten;
  background-color: $slot-machine-bg;
  text-align: center;

  &_wrapper {
    display: flex;
  }

  .reels {
    border-radius: 5px;
    display: flex;
    position: relative;
    overflow: hidden;
  }

  .reel-line-indicator {
    position: absolute;
    background-color: $slot-machine-bg-lighten;
    height: 10px;
    left: -1px;
    right: -1px;
    opacity: 1;
    z-index: 1;
    box-shadow: 0px 5px 6px -5px RGB(0 0 0 / 40%);

    &.reels-line-highlight {
      animation: reels-line-highlight 1s infinite;

      @keyframes reels-line-highlight {
        0%, 49% {
          z-index: 5;
          opacity: 0.7;
          background-color: $highlight-bg;
        }
        50%, 100% {
          z-index: 1;
          opacity: 1;
          background-color: $slot-machine-bg-lighten;
        }
      }
    }
  }

  .blinker {
    animation: blinker 0.3s cubic-bezier(.5, 0, 1, 1) infinite;

    @keyframes blinker {
      to {
        opacity: 0;
      }
    }
  }

  .reel_spinning {
    animation: reel-spinning 0.2s ease-in-out infinite;

    @keyframes reel-spinning {
      65% {
        transform: translateY(-65%);
      }
    }
  }

  .reel_stopping {
    animation: reel-stopping 0.3s ease-out;
    animation-fill-mode: forwards;

    @keyframes reel-stopping {
      to {
        transform: translateY(-160px);
      }
    }
  }

  .reel-inner {
    position: relative;
    border-left: 5px solid $slot-machine-bg-darken;
    border-right: 5px solid $slot-machine-bg-darken;
  }

  .reel-wrapper {
    background-color: $reels-bg;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 8px 3px RGB(0 0 0 / 67%);
    z-index: 2;
    position: relative;

    &:before, &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100px;
      z-index: 1;
      position: absolute;
      background: rgb(0,0,0);
    }

    &:before {
      top: 0;
      background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    }

    &:after {
      bottom: 0;
      background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    }
  }

  .reel_element {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer {
    display: flex;
    line-height: 38px;
    padding: 10px 5px 2px;

    .balance-display {
      margin-right: 15px;
      border-radius: 2px;
      width: 100%;
      padding: 5px 10px;
      background-color: $balance-display-bg;
      text-align: left;
      color: $balance-display-color;
      box-shadow: inset 0px 0px 5px 2px RGB(0 0 0 / 55%);

      .balance, .win {
        padding: 0 10px;
      }
    }

    .spin_btn {
      margin-bottom: 4px;
      padding: 3px 32px;
      background-color: $spin-btn-bg;
      border: none;
      outline: none;
      border-radius: 5px;
      text-transform: uppercase;
      color: #fff;
      font-weight: bold;
      font-size: 32px;
      font-family: monospace;
      box-shadow: 0 6px $spin-btn-bg-darken;

      &:hover {
        background-color: $spin-btn-bg-lighten;
        cursor: pointer;
      }

      &:active, &:disabled {
        cursor: default;
        background-color: $spin-btn-bg-lighten;
        box-shadow: 0 4px $spin-btn-bg-darken;
        transform: translateY(2px);
      }

      &:disabled {
        color: $spin-btn-bg-darken;
        background-color: $spin-btn-bg-lighten;
      }
    }
  }
}

.debug-area {
  position: absolute;
  padding: 10px;

  &-control {
    padding-top: 10px;

    &.hidden {
      opacity: 0;
    }
  }

  .reels {
    display: flex;
  }

  .reel {
    margin: 10px 20px 0px 0px;
    label {
      display: block;
    }
  }
}
