$pay-table-bg: #ff0;
$balance-display-bg: #0ff;
$balance-display-color: #9c9c9c;
$highlight-bg: #f00;
$spin-btn-bg: #f00;
$spin-btn-bg-lighten: #ff4d4d;
$spin-btn-bg-darken: #c90606;
$slot-machine-bg: #a13ef1;
$slot-machine-bg-lighten: #bd75f8;
$slot-machine-bg-darken: #7639a8;
$reels-bg: #ebecd9;